---
import BaseLayout from "../layouts/BaseLayout.astro";
---
<BaseLayout title="FiberCloudBD Plans">
  <h1 class="text-3xl font-bold text-blue-600">Our Plans</h1>
  <p class="mt-4 text-gray-700">
    This is where the ISP plans will be listed.
  </p>
</BaseLayout>
