---
import "../styles/global.css";
import NavBar from "../components/NavBar.astro";
const { title = "FiberCloudBD" } = Astro.props;
---
<html>
  <head>
    <title>{title}</title>
  </head>

  <body class="bg-gray-100">
    <NavBar />
    <main class="p-10">
      <slot />
    </main>
  </body>
</html>
